{% extends 'base.html'%} {% load static %} {% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                {% include 'user_dashboard/user_base.html' %}

                <div class="col-lg-10 col-md-10  mt-4 mt-lg-0">
                    <div class="row justify-content-around">
                        <div class="col-md-4 col-sm-6">
                            <div class="card border">
                                <div class="p-5 ">
                                    <div class="col-md-12 text-center">

                                        <h3 class="text-primary"><b>{{total_orders}}</b></h3>

                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <h5 class="text-primary"><b>Total Orders</b></h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class=" p-5">
                                    <div class="col-md-12 row">
                                        <div class="col-md-6 text-primary">
                                            <h4>{{usr_profile.first_name}} {{usr_profile.last_name}}</h4>
                                            <h5>{{usr_profile.email}}</h5>
                                        </div>
                                            <div class="col-md-4 p-3 text-right ">
                                                <img src="{{usr_profile.profile_picture.url}}" alt="profile_picture" width="50vh" height="50vh" style="border-radius: 10px;">
                                            
                                            </div>
                                            
                                    </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->

{% endblock %}