{% extends 'base.html'%} {% load static %} {% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                {% include 'user_dashboard/user_base.html' %}

                <div class="col-lg-10 col-md-10  mt-4 mt-lg-0">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="accordion accordion-rounded accordion-plus" id="accordian-order">

                                {% if orders %}
                                {% for x in orders %}

                                <div class="row col-md-12 mt-4 align-items-center">
                                    <div class="col-md-2">

                                        <img src="{{x.variation.image1.url}}" alt="image" width="70">
                                    </div>
                                    <div class="col-md-3 ">
                                        <p><b>{{x.products}}</b>{{x.variation}}</p>

                                        <span>Seller : {{x.vendor}}</span>

                                    </div>
                                    <div class="col-md-2">
                                        <p>₹ {{x.grand_total}}</p>
                                    </div>
                                    <div class="col-md-3 d-flex">
                                        <div>
                                            {% if x.status == 'New' %}
                                            <h6>Ordered on {{x.created_at| date:'D,d M y'}}</h6>
                                            {% elif x.status == 'Cancelled' %}
                                            <h6>Cancelled on {{x.updated_at| date:'D,d M y'}} </h6>
                                            {% elif x.status == 'Accepted' %}
                                            <h6>Shipped on {{x.updated_at| date:'D,d M y'}} </h6>
                                            {% elif x.status == 'Delivered' %}
                                            <h6>Delivered on {{x.updated_at| date:'D,d M y'}} </h6>
                                            {% endif %}
                                        </div>

                                    </div>
                                    {% if x.status == 'New' or x.status == 'Accepted' %}

                                    <div class="col-md-1 text-right">
                                        <a id="{{x.id}}" href="{% url 'cancel_order' x.id %}"
                                            onclick="cancelOrder(event)" class="btn btn-outline-danger">Cancel</a>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="card card-box card-sm bg-white">
                                    <div class="card-header" id="heading6-3">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#a{{x.id}}"
                                                aria-expanded="false" aria-controls="a{{x.id}}">
                                                Order Status
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="a{{x.id}}" class="collapse" aria-labelledby="heading6-3"
                                        data-parent="#accordian-order">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-md-12 col-sm-12 row">
                                                    <div class="col-md-5 col-sm-12">
                                                        <div class="card">
                                                            <div class="card-body d-flex flex-column gap-3">
                                                                <div class="d-flex justify-content-between">
                                                                    <h5 class="mb-0">Delivery Address</h5>
                                                                </div>
                                                                <div>{{x.order.full_address}}</div>
                                                                <div>{{x.order.city}}</div>
                                                                <div>{{x.order.state}}</div>
                                                                <div>
                                                                    <i class="bi bi-telephone me-2"></i>
                                                                    {{x.order.phone}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12">
                                                        <div class="card">
                                                            <div class="card-body d-flex flex-column gap-3">
                                                                <div class="d-flex justify-content-between">
                                                                    <h5 class="mb-0">Delivery Details</h5>
                                                                </div>

                                                                <div>Pin code: {{x.order.pincode}}</div>
                                                                <div><span>Order note :</span>{% if x.order.order_note %}
                                                                    <p>{{x.order.order_note }}</p>
                                                                    {% else %}
                                                                    <p>No notes </p>
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 pt45 pb20">

                                                    <div class="row justify-content-between">
                                                        <div class="order-tracking  completed ">
                                                            <span class="is-complete"></span>
                                                            <p>Ordered<br><span>{{x.created_at| date:'D,d M y'}}</span>
                                                            </p>
                                                        </div>

                                                        <div
                                                            class="order-tracking {% if x.status == 'Accepted' or x.status == 'Delivered' %} completed {% endif %} ">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br><span>{% if x.status == 'Cancelled' %}{% else %}{{x.updated_at| date:'D,d M y'}}{% endif%}</span>
                                                            </p>
                                                        </div>

                                                        <div
                                                            class="order-tracking {% if x.status == 'Delivered' %} completed {% endif %}">
                                                            <span class="is-complete"></span>
                                                            <p>{% if x.status == 'Cancelled' %} <span
                                                                    class="text-danger">Cancelled </span> {% else %}
                                                                Delivered{% endif %}<br><span>{% if x.status == 'Cancelled' or x.status == 'Delivered'%}{{x.updated_at| date:'D,d M y'}}{% endif %}</span>
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->
                                {% endfor %}
                                {% else %}
                                <p>No order has been made yet.</p>
                                <a href="{% url 'home' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                        class="icon-long-arrow-right"></i></a>
                                {% endif %}
                            </div><!-- End .accordion -->

                        </div><!-- .End .tab-pane -->
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</div>
<script>
    function cancelOrder(event) {
        event.preventDefault();
        var linkURL = event.currentTarget.href;
        var action = event.currentTarget.title;
        console.log(linkURL);
        console.log(action)
        Swal.fire({
            title: "Do you want to cancel this Order ? ",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: 'primary',
            cancelButtonColor: 'success',
            confirmButtonText: 'Yes, Cancel !'
        })
            .then((result) => {
                if (result.isConfirmed) {
                    window.location = linkURL;
                } else {
                    return false;
                }
            });
    }
</script>

{% endblock %}