{% extends 'base.html'%} {% load static %} {% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'dashboard' %}" role="tab" aria-controls="tab-dashboard"
                                aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'user_order' %}" role="tab"
                                aria-controls="tab-orders" aria-selected="false">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_address' %}" role="tab" aria-controls="tab-address"
                                aria-selected="false">Adresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}" role="tab" aria-controls="tab-account"
                                aria-selected="false">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Out</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="tab-orders" role="tabpanel"
                            aria-labelledby="tab-orders-link">

                            {% if orders %}
                            {% for x in orders %}
                            <div class="row mt-4 align-items-center" style="border-bottom: 1px solid black;">
                                <div class="col-md-2">
                                    <img src="{{x.variation.image.url}}" alt="image" width="70">
                                </div>
                                <div class="col-md-3 ">
                                    <p><b>{{x.products}}</b>{{x.variation}}</p>

                                    <span>Seller : {{x.vendor}}</span>

                                </div>
                                <div class="col-md-2">
                                    <p>₹ {{x.grand_total}}</p>
                                </div>
                                <div class="col-md-4 d-flex">
                                    <div>
                                        {% if x.status == 'New' %}
                                        <p>Ordered on {{x.created_at}}</p>
                                        {% elif x.status == 'Cancelled' %}
                                        <p>Order Cancelled on {{x.updated_at}} </p>
                                        {% elif x.status == 'Delivered' %}
                                        <p>Order Delivered on {{x.updated_at}} </p>
                                        {% endif %}
                                    </div>

                                </div>
                                {% if x.status == 'Cancelled' %}

                                {% else %}
                                <div class="col-md-1 text-right">
                                    <a id="{{x.id}}" href="{% url 'cancel_order' x.id %}" onclick="cancelOrder(event)"
                                        class="btn btn-primary">Cancel</a>
                                </div>
                                {% endif %}

                            </div>
                            {% endfor %}
                            {% else %}
                            <p>No order has been made yet.</p>
                            <a href="{% url 'home' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                    class="icon-long-arrow-right"></i></a>
                            {% endif %}
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
    <script>
        function cancelOrder(event) {
            event.preventDefault();
            var linkURL = event.currentTarget.href;
            var action = event.currentTarget.title;
            console.log(linkURL);
            console.log(action)
            Swal.fire({
                title: "Do you want to cancel this Order ? ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'primary',
                cancelButtonColor: 'success',
                confirmButtonText: 'Yes, Cancel !'
            })
                .then((result) => {
                    if (result.isConfirmed) {
                        window.location = linkURL;
                    } else {
                        return false;
                    }
                });
        }
    </script>

    {% endblock %}