{% extends 'base.html'%} {% load static %} {% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                {% include 'user_dashboard/user_base.html' %}



                <div class="col-lg-10 col-md-10  mt-4 mt-lg-0">

                    <div class="card-body">
                        <form action="" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-9 col-sm-12 row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        {{form.first_name}}
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        {{form.last_name}}
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-6">
                                        <label>Gender *</label>
                                        <input type="text" class="form-control" value="{{usr_profile.gender}}" disabled>
                                    </div>
                                    <div class="col-sm-6 text-center align-items-center ">
                                        <label class="my-5 btn btn-outline-primary-2 " for="id_profile_picture">Change Profile Picture*</label>
                                        {{form.profile_picture}}
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Email address *</label>
                                        {{form.email}}

                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <img style="border-radius: 50px;" width="150vh" height="150vh"
                                        src="{{usr_profile.profile_picture.url}}" alt="">
                                </div>
                            </div><!-- End .row -->



                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>Update Profile</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </form>
                    </div><!-- End .card-body -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" type="text/javascript"></script>

    {% endblock %}