
                <aside class="col-md-2 col-lg-2">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link {% if '/dashboard' == request.path %}active{% endif %} " href="{% url 'dashboard' %}" role="tab" aria-controls="tab-dashboard"
                                aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/user_order' == request.path %}active{% endif %}" href="{% url 'user_order' %}" role="tab" aria-controls="tab-orders"
                                aria-selected="false">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/user_address' == request.path %}active{% endif %}" href="{% url 'user_address' %}" role="tab"
                                aria-controls="tab-address" aria-selected="false">Adresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/user_profile' == request.path %}active{% endif %}" href="{% url 'user_profile' %}" role="tab" aria-controls="tab-account"
                                aria-selected="false">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/change_password' == request.path %}active{% endif %}" href="{% url 'change_password' %}" role="tab" aria-controls="tab-account"
                                aria-selected="false">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Out</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->
