{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- Gadgeto.in/index-3.html  22 Nov 2019 09:55:42 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gadgeto.in - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Gadgeto.in - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
    <meta name=" apple-mobile-web-app-title" content=" Gadgeto.in ">
    <meta name=" application-name " content=" Gadgeto.in ">
    <meta name=" msapplication-TileColor " content=" #cc9966 ">
    <meta name=" msapplication-config " content=" images/icons/browserconfig.xml ">
    <meta name=" theme-color " content=" #ffffff ">
    <script src=" //cdn.jsdelivr.net/npm/sweetalert2@11 "></script>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">

    <link rel=" stylesheet "
        href=" {% static 'vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %} ">
    <!-- Plugins CSS File -->
    <link rel=" stylesheet " href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/plugins/owl-carousel/owl.carousel.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/plugins/magnific-popup/magnific-popup.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/plugins/jquery.countdown.css' %} ">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Main CSS File -->
    <link rel=" stylesheet " href=" {% static 'css/style.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/skins/skin-demo-3.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/demos/demo-3.css' %} ">
    <link rel=" stylesheet " href=" {% static 'css/rating.css' %}">
    <link rel=" stylesheet " href=" {% static 'css/profile.css' %}">
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js "
        integrity=" sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin=" anonymous " referrerpolicy=" no-referrer "></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AVDdp0M7Q1o_ZSTJxPQRMio4EVGROp6a-b-W7A6sVq7Sl6GUFpH8AUEPa170cT1fbdYvVYaTuiQ0F3C6&currency=USD"></script>
</head>

<body>
    {% if messages %} {% for message in messages %}
    <script>
        Swal.fire({
            position: 'middle',
            icon: '{{message.tags}}',
            title: '{{message}}',
            showConfirmButton: false,
            timer: 2000
        })
    </script>
    {% endfor %} {% endif %}
    <div class=" page-wrapper ">
        <header class=" header header-intro-clearance header-3 ">
            <div class=" header-top ">
                <div class=" container ">
                    <div class=" header-left ">
                        <a href=" tel:# "><i class=" icon-phone "></i>Call: +91 790 7881 989</a>
                    </div>
                    <!-- End .header-left -->

                    <div class=" header-right ">

                        <ul class=" top-menu ">
                            <li>
                                <a href=" # ">Profile</a>
                                <ul>
                                    {% if user.id is None %}
                                    <li><a href=" {% url 'signin' %} ">Sign in</a></li>
                                    <li><a href=" {% url 'register' %} ">Sign up</a></li>
                                    {% else %}
                                    <li>
                                        <span>Welcome {{user.first_name}} </span>
                                    </li>
                                    <li><a href=" {% url 'dashboard' %} "> Dashboard</a></li>

                                    <li><a href=" {% url 'signout' %} "> Logout</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <!-- End .top-menu -->
                    </div>
                    <!-- End .header-right -->

                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class=" header-middle ">
                <div class=" container ">
                    <div class=" header-left ">
                        <button class=" mobile-menu-toggler ">
                            <span class=" sr-only ">Toggle mobile menu</span>
                            <i class=" icon-bars "></i>
                        </button>

                        <a href=" {% url 'home' %} " class=" ">
                            <h3 class=" pt-1 " style=" color:#fcb941 ">Gadjeto.in</h3>
                        </a>
                    </div>
                    <!-- End .header-left -->

                    <div class=" header-center ">
                        <div class=" header-search header-search-extended header-search-visible d-none d-lg-block ">
                            <a href=" # " class=" search-toggle " role=" button "><i class=" icon-search "></i></a>
                            <form action="{% url 'search' %}" method=" get ">
                                <div class=" header-search-wrapper search-wrapper-wide ">
                                    <label for=" q " class=" sr-only ">Search</label>
                                    <button class=" btn btn-primary " type=" submit "><i
                                            class=" icon-search "></i></button>
                                    <input type=" search " class=" form-control " name="keyword" id=" q "
                                        placeholder=" Search product ... " required>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>
                        </div>
                        <!-- End .header-search -->
                    </div>

                    <div class=" header-right ">

                        <!-- <div class=" wishlist ">
                            <a href=" wishlist.html " title=" Wishlist ">
                                <div class=" icon ">
                                    <i class=" icon-heart-o "></i>
                                    <span class=" wishlist-count badge ">8</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div> -->
                        <!-- End .compare-dropdown -->

                        <div class=" dropdown cart-dropdown ">
                            <a href="{% url 'cart' %}" class=" dropdown-toggle " role=" button "
                                data-toggle=" dropdown " aria-haspopup=" true " aria-expanded=" false "
                                data-display=" static ">
                                <div class=" icon ">
                                    <i class=" icon-shopping-cart "></i>
                                    <span class=" cart-count ">{{cart_count}}</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>
                        <!-- End .cart-dropdown -->
                    </div>
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-middle -->

            <div class=" header-bottom sticky-header ">
                <div class=" container ">
                    <div class=" header-left ">
                        <div class=" dropdown category-dropdown ">
                            <a href=" # " class=" dropdown-toggle " role=" button " data-toggle=" dropdown "
                                aria-haspopup=" true " aria-expanded=" false " data-display=" static "
                                title=" Browse Categories ">
                                Browse Categories <i class=" icon-angle-down "></i>
                            </a>
                            <div class=" dropdown-menu ">
                                <nav class=" side-nav ">
                                    <ul class=" menu-vertical sf-arrows ">
                                        {% for category in links %}
                                        <li>
                                            <a href="{{category.get_url}} ">{{category.category_name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- End .header-left -->

                    <div class=" header-center ">
                        <nav class=" main-nav ">
                            <ul class=" menu sf-arrows ">
                                <li class=" megamenu-container {% if '/' not in request.path %} active {% endif %}  ">
                                    <a href="{% url 'home' %} " class=" sf-with-ul ">Home</a>
                                </li>
                                <li class=" megamenu-container {% if '/shop/' in request.path %} active {% endif %} ">
                                    <a href=" {% url 'shop' %} " class=" sf-with-ul ">Shop</a>

                                    <div class=" megamenu megamenu-md ">
                                        <div class=" row no-gutters ">
                                            <div class=" col-md-8 ">
                                                <div class=" menu-col ">
                                                    <div class=" row ">
                                                        <div class=" col-md-6 ">
                                                            <div class=" menu-title ">By Brands</div>
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                {% for b in brands %}
                                                                <li><a href="">{{b.brand_name}}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <!-- End .col-md-6 -->

                                                        <div class=" col-md-6 ">
                                                            <div class=" menu-title ">By Category</div>
                                                            <!-- End .menu-title -->
                                                            <ul>
                                                                {% for cat in categories %}
                                                                <li><a href="{{cat.get_url}}">{{cat.category_name}}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                        <!-- End .col-md-6 -->
                                                    </div>
                                                    <!-- End .row -->
                                                </div>
                                                <!-- End .menu-col -->
                                            </div>
                                            <!-- End .col-md-8 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .megamenu megamenu-md -->
                                </li>
                            </ul>
                            <!-- End .menu -->
                        </nav>
                        <!-- End .main-nav -->
                    </div>
                    <!-- End .header-center -->

                    <div class=" header-right ">
                        <i class=" la la-lightbulb-o "></i>
                        <p>Clearance<span class=" highlight ">&nbsp;Up to 30% Off</span></p>
                    </div>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header>
        <!-- End .header -->
        {% block content%} {% endblock %}

    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="{% url 'search' %}" method=" get " class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type=" search " class=" form-control " name="keyword" id=" q "
                placeholder=" Search product ... " required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                        role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                    aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="{% url 'home' %}">Home</a>

                                <ul>
                                    {% for category in links %}
                                    <li>
                                        <a href="{{category.get_url}} ">{{category.category_name}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'dashboard' %}" class="sf-with-ul">Profile</a>
                                <ul>
                                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'user_order' %}">Orders</a></li>
                                    <li><a href="{% url 'user_profile' %}">My Profile</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <footer class=" footer ">
        <div class=" footer-middle ">
            <div class=" container ">
                <div class=" row justify-content-around">
                    <div class=" col-sm-6 col-lg-3 ">
                        <div class=" widget widget-about ">
                            <h3 class="text-primary">Gadgeto.in</h3>
                            <p>Best gadgets for you , Available from every brands, Stay tuned for more offers and
                                discounts </p>
                            <p><b>Stay tuned with the creator of Gadgeto.in</b></p>
                            <div class=" social-icons ">
                                <a href="" class=" social-icon " target=" _blank " title=" Facebook "><i
                                        class=" icon-facebook-f "></i></a>
                                <a href=" # " class=" social-icon " target=" _blank " title=" Twitter "><i
                                        class=" icon-twitter "></i></a>
                                <a href=" # " class=" social-icon " target=" _blank " title=" Instagram "><i
                                        class=" icon-instagram "></i></a>
                                <a href=" # " class=" social-icon " target=" _blank " title=" Youtube "><i
                                        class=" icon-youtube "></i></a>
                                <a href=" # " class=" social-icon " target=" _blank " title=" Pinterest "><i
                                        class=" icon-pinterest "></i></a>
                            </div>
                            <!-- End .soial-icons -->
                        </div>
                        <!-- End .widget about-widget -->
                    </div>
                    <!-- End .col-sm-6 col-lg-3 -->
                    <div class=" col-sm-6 col-lg-3 ">
                        <div class=" widget ">
                            <h4 class=" widget-title ">My Account</h4>
                            <!-- End .widget-title -->

                            <ul class=" widget-list ">
                                {% if user.is_authenticated %}
                                <li><a href=" # ">View Profile</a></li>
                                {% else %}
                                <li><a href=" # ">Sign In</a></li>
                                {% endif %}
                                <li><a href="{% url 'cart' %}">View Cart</a></li>
                                <li><a href="{% url 'user_order' %}">Track My Order</a></li>
                                <li><a href=" # ">Help</a></li>
                            </ul>
                            <!-- End .widget-list -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-sm-6 col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class=" footer-bottom ">
            <div class=" container ">
                <p class=" footer-copyright ">Copyright © 2021 faizee.co All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class=" footer-payments ">
                    <img src="{% static 'images/payments.png' %}" alt=" Payment methods " width=" 272 " height=" 20 ">
                </figure>
                <!-- End .footer-payments -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
    </footer>
    <!-- Plugins JS File -->

    <script src="{% static 'js/bootstrap-input-spinner.js' %} "></script>
    <script src="{% static 'js/jquery.elevateZoom.min.js' %} "></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %} "></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %} "></script>
    <script src="{% static 'js/superfish.min.js' %} "></script>
    <script src="{% static 'js/owl.carousel.min.js' %} "></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script> -->
    <!-- Main JS File -->
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/demos/demo-3.js' %}"></script>

</body>