{% extends 'base.html'%} {% load static %} {% block content %}
<div class="page-wrapper">
    <main class="main">

        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                    {% if 'search' in request.path %}
                    <li class="breadcrumb-item active" aria-current="page">Search Results</li>
                    {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                    {% endif %}
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left text-center">
                                {% if product_count == 0 %}
                                <div class="toolbox-info">
                                    <h3>No result found</h3>
                                </div>
                                {% else %}
                                <div class="toolbox-info">

                                    Showing <span>{{product_count}}</span> Products
                                </div>

                                <!-- End .toolbox-info -->
                            </div>
                            <!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                
                                {% endif %}
                            </div>
                        </div>
                        <!-- End .toolbox-right -->

                        <!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                {% for product in products %}
                                <div class="col-6 col-md-4 col-lg-4 col-xl-4">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="{{product.get_url}}">
                                                <img src="{{product.image1.url}}" alt="Product image"
                                                    class="product-image">
                                            </a>

                                            
                                            <!-- End .product-action-vertical -->

                                            {% if product.stock <= 0 %} <div
                                                class="product-action justify-content-center text-center">
                                                <h6 class="text-danger">Out of stock
                                                    <h6>
                                    </div> {% else %} <div class="product-action">
                                        <a href="{% url 'add_cart' product.id %}" class="btn-product btn-cart"
                                        title="Add to cart"><span>add to cart</span></a> 
                                    <a href="{% url 'quick_buy' product.id %}" class="btn-product btn-buy"
                                        title="Quick view"><span>Quick Buy</span></a>
                                </div>
                                {% endif %}
                                <!-- End .product-action -->
                                </figure>
                                <!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.product.vendor}}</a>
                                    </div>
                                    <!-- End .product-cat -->
                                    <h3 class="product-title"><a
                                            href="{{product.get_url}}"><b>{{product.product.product_name}}</b>
                                            <br>{{product.varient_name}}</a></h3>
                                    <!-- End .product-title -->
                                    {% if product.offer_price %}
                                    <div class="product-price">
                                        <span style="font-size: 2rem;">₹{{product.offer_price.new_price}} </span><br>
                                    </div>
                                    <div>
                                        <span style="font-size:1.5rem;"><del>
                                                ₹{{product.price}}</del></span>
                                        <span class="text-danger"
                                            style="font-size:2rem;">{{product.offer_price.discount}}%
                                            off</span>
                                    </div>




                                    {% else %}
                                    <div class="product-price">

                                        <span style="font-size: 2rem;">₹{{product.price}} </span><br>

                                    </div>
                                    {% endif %}
                                    <!-- End .product-price -->
                                    
                                    <!-- End .rating-container -->

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="{{product.image2.url}}" alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="{{product.image3.url}}" alt="product desc">
                                        </a>
                                    </div>
                                    <!-- End .product-nav -->
                                </div>
                                <!-- End .product-body -->
                            </div>
                            <!-- End .product -->
                        </div>
                        <!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        {% endfor %}

                    </div>
                    <!-- End .row -->
                </div>

                <!-- End .products -->
                 <nav aria-label="Page navigation">
                    {% if products.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {%if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link page-link-prev" href="?page={{products.previous_page_number}}"
                                aria-label="Previous" tabindex="-1">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        {% endif %} {% for i in products.paginator.page_range %} {% if products.number == i %}
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item" aria-current="page"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %} {% endfor %} {%if products.has_next %}
                        <li class="page-item">
                            <a class="page-link page-link-next" href="?page={{products.next_page_number}}"
                                aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link page-link-next disabled" href="#" aria-label="Next" disabled>
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>

                        {% endif %}
                    </ul>
                    {% endif %}
                    </nav>
            </div>
            <!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
                <div class="sidebar sidebar-shop">
                    
                    <!-- End .widget widget-clean -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                aria-controls="widget-1">
                                Category
                            </a>
                        </h3>
                        <!-- End .widget-title -->

                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">
                                    {% for category in links %}
                                    <div class="filter-item">
                                        
                                        <div class="custom-control custom-checkbox active">
                                            <a href="{{category.get_url}} " class="btn " >{{category.category_name}}</a>
                                        </div>
                                        <!-- End .custom-checkbox -->
                                    </div>
                                    {% endfor %}

                                    <!-- End .filter-item -->
                                </div>
                                <!-- End .filter-items -->
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

            
                    <!-- End .widget -->
                </div>
                <!-- End .sidebar sidebar-shop -->
            </aside>
            <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
</div>
<!-- End .container -->
</div>
<!-- End .page-content -->
</main>
<!-- End .main -->


<!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

obile-menu-container -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/wNumb.js"></script>
<script src="assets/js/bootstrap-input-spinner.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
</body>{% endblock %}