{% extends 'base.html'%} {% load static %} {% block content %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">


                <!-- End .checkout-discount -->

                <div class="row">
                    <div class="col-lg-9">
                        <div class="col-md-8">
                            <form action="{% url 'check_coupen' grand_total %}" method="POST" class="d-flex">
                                {% csrf_token %}
                                <div class="col-md-8">
                                    <input type="text" name="coupen_code" class="form-control" {% if discount %}placeholder="{{coupen_code}}" disabled { % else %}
                                        placeholder="Do you have a coupen code ?" {% endif %} >

                                </div>
                                <div class="col-md-1">
                                    <input type="submit" {% if discount %} disabled{% endif %} class="form-control "
                                        value=">">

                                </div>
                            </form>
                        </div>

                        <div class="accordion accordion-icon" id="accordion-3">
                            <div class="card">
                                <div class="card-header" id="heading3-1">
                                    <h2 class="card-title">
                                        <a role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="true"
                                            aria-controls="collapse3-1">
                                            <i class="icon-info-circle"></i>Select Existing Address


                                        </a>
                                    </h2>
                                </div><!-- End .card-header -->
                                <div id="collapse3-1" class="collapse show" aria-labelledby="heading3-1"
                                    data-parent="#accordion-3">
                                    <div class="card-body">
                                        <div class="col-lg-12">

                                            {% for x in address %}

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="{{x.id}}">

                                            </div>
                                            {% endfor %}
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .card-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .card -->

                            <div class="card">
                                <div class="card-header" id="heading3-2">
                                    <h2 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2"
                                            aria-expanded="false" aria-controls="collapse3-2">
                                            <i class="icon-info-circle"></i>New Billing Address
                                        </a>
                                    </h2>
                                </div><!-- End .card-header -->
                                <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2"
                                    data-parent="#accordion-3">
                                    <div class="card-body">
                                        <!-- End .checkout-title -->
                                        <form action="{% url 'place_order' %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" name="first_name" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" name="last_name" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->
                                            </div>
                                            <!-- End .row -->
                                            <label>Country *</label>
                                            <input type="text" name="country" class="form-control" required>

                                            <label>Address 1 *</label>
                                            <input type="text" name="address1" class="form-control"
                                                placeholder="Enter primary Address " required>
                                            <label>Address 2 *</label>
                                            <input type="text" name="address2" class="form-control"
                                                placeholder="address">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Town / City *</label>
                                                    <input type="text" name="city" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" name="state" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->
                                            </div>
                                            <!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Postcode / ZIP *</label>
                                                    <input type="text" name="pincode" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input type="tel" name="phone" class="form-control" required>
                                                </div>
                                                <!-- End .col-sm-6 -->
                                            </div>
                                            <!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" name="email" class="form-control" required>

                                            <label>Order notes (optional)</label>
                                            <textarea class="form-control" cols="30" rows="4"
                                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                    </div><!-- End .card-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .card -->
                        </div><!-- End .accordion -->



                    </div>
                    <!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3>
                            <!-- End .summary-title -->

                            <table class="table  table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th class="text-center">Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in cart_items %}
                                    <tr>
                                        <td><a href="{{item.varient.get_url}}">{{item.varient.product}}
                                                {{item.varient}}</a></td>
                                        <td class="text-center">{{item.quantity}}</td>
                                        <td>${{item.total|floatformat:0 }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td></td>
                                        <td>${{total|floatformat:0 }}</td>
                                    </tr>
                                    <!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td></td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr>
                                        <td>Tax:</td>
                                        <td></td>
                                        <td>${{tax|floatformat:0}}</td>
                                    </tr>
                                    {% if discount %}
                                    <tr>
                                        <td>Discount:</td>
                                        <td></td>
                                        <td>- ${{discount|floatformat:0}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td></td>
                                        <td>${{grand_total|floatformat:0}}</td>
                                    </tr>

                                    
                                    <!-- End .summary-total -->
                                </tbody>
                            </table>
                            <!-- End .table table-summary -->

                            <div class="row mb-4">
                                <div class="col-12 m-2">
                                    <input type="radio" name="payment" id="paypal" placeholder="Paypal" value="paypal"> 
                                    <label for="paypal">PayPal</label>
                                    
                                </div>
                                <div class="col-12 m-2">
                                    <input class="" type="radio" name="payment" id="razorpay" value="razorpay"> <label for="razorpay">Razorpay</label>
                                </div>
                                <div class="col-12 m-2">
                                    <input type="radio" name="payment" id="cod" value="cod"> <label for="cod">Cash on delivery</label>
                                </div>
                            </div>
                            <!-- End .accordion -->

                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Place Order</span>
                            </button>
                        </div>
                        <!-- End .summary -->
                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
                </form>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .checkout -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->{% endblock %}