{% extends 'base.html'%} {% load static %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="page-wrapper">
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{single_varient.product_name}}</li>
                </ol>


                <!-- End .pager-nav -->
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <div class="product-main-image img-zoom-container" onmousenter="showme(this)">
                                        <span>
                                            <p class="imgid" style="align:center;"><img id="myimage"
                                                    src="{{single_varient.image1.url}}"
                                                    srcset="{{single_varient.image1.url}}"></p>
                                        </span>
                                        <span id="myhide" style="float: right;
                                            position: fixed;
                                            top: 100px;
                                            left: 50px;
                                            width: auto;
                                            height: 100%;
                                            z-index: 10;">
                                            <div id="myresult" class="img-zoom-result" onmouseleave="hideme(this)">
                                            </div>
                                        </span>
                                        <!-- <img src="{{single_varient.image.url}}" class="big_imgs" alt="product image"> -->

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </div>

                                    <!-- End .product-main-image -->
                                    

                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        <a class="product-gallery-item active"></a>
                                        <img src="{{single_varient.image1.url}}" onclick="changeIt(this)"  alt="product side">
                                        </a>

                                        <a class="product-gallery-item">
                                            <img src="{{single_varient.image2.url}}" onclick="changeIt(this)"  
                                                alt="product cross">
                                        </a>

                                        <a class="product-gallery-item">
                                            <img src="{{single_varient.image3.url}}" onclick="changeIt(this)" 
                                                alt="product with model">
                                        </a>

                                        <a class="product-gallery-item">
                                            <img src="{{single_varient.image4.url}}" onclick="changeIt(this)" alt="product back">
                                        </a>
                                    </div>
                                    
                                    <!-- End .product-image-gallery -->
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .product-gallery -->
                        </div>
                        <!-- End .col-md-6 -->
                        <div class="col-md-6">
                            <form action="{% url 'add_cart' single_varient.id %}" method="POST">
                                {% csrf_token %}
                                <div class="product-details">
                                    <h1 class="product-title"><b>{{single_varient.product.product_name}}</b>
                                        {{single_varient.varient_name}} </h1>
                                    <!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{average}}%;"></div>
                                            <!-- End .ratings-val -->
                                        </div>
                                        <!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">(
                                            {{review_count}} Reviews
                                            )</a>
                                    </div>
                                    <!-- End .rating-container -->
                                    {% if single_varient.offer_price %}
                                    <div class="product-price">

                                        <div class="col-md-3">
                                            <span>₹{{single_varient.offer_price.new_price}} </span>
                                        </div>
                                        <div>
                                            <span style="font-size:2rem;"><del>
                                                    ₹{{single_varient.price}}</del><span></span>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <span class="text-danger"
                                            style="font-size:2rem;">{{single_varient.offer_price.discount}}% off</span>
                                    </div>
                                    {% else %}
                                    <div class="product-price">

                                        ₹{{single_varient.price}}

                                    </div>
                                    {% endif %}
                                    <!-- End .product-price -->

                                    <div class="product-content">
                                        <p>{{single_varient.product.description}}</p>
                                    </div>
                                    <!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Models :</label><br>
                                        <div class="">
                                            {% for i in varients %}
                                            {% if single_varient.ram == i.ram and single_varient.ram == i.ram %}
                                            <a href="{% url 'product_detail' i.product.category.slug i.product.slug i.slug %}"
                                                class="btn btn-outline-dark m-1">{{i.ram}} + {{i.storage}}></a>
                                            {% else %}
                                            <a href="{% url 'product_detail' i.product.category.slug i.product.slug i.slug %}"
                                                class="btn btn-outline-dark m-1">{{i.ram}} + {{i.storage}}</a>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Color :</label><br>
                                        <div class="">
                                            {% for i in varients%}
                                            <a href="{% url 'product_detail' i.product.category.slug i.product.slug i.slug %}"
                                                class="btn btn-outline-dark-2 m-1">{{i.color}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>



                                    <!-- End .details-filter-row -->
                                    <div class="product-details-action">
                                        {% if single_varient.stock <= 0 %} <a href="" class="btn-product text-danger"
                                            title="Cart"><span>Out of Stock</span></a>
                                            {% else %} {% if in_cart %}
                                            <a href="{% url 'cart' %}" class="btn-product btn-cart"><span>Go to
                                                    Cart</span></a> {% else %}
                                            <button type='submit' class="btn-product btn-cart"><span>Add to
                                                    Cart</span></a> {% endif %} {% endif %}
                                    </div>
                                    <div class="details-action-wrapper">
                                        <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                Wishlist</span></a>
                                    </div>
                                    <!-- End .details-action-wrapper -->
                                </div>
                                <!-- End .product-details -->
                            </form>
                        </div>
                        <!-- End .col-md-6 -->

                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .product-details-top -->

                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                                role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                                role="tab" aria-controls="product-info-tab" aria-selected="false">Additional
                                information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                aria-selected="false">Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab"
                                role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews
                                ({{review_count}})</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                            aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                    volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non,
                                    semper suscipit, posuere a, pede. Donec nec justo eget felis
                                    facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim
                                    pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                                    consectetuer ligula vulputate sem tristique cursus.
                                </p>
                                <ul>
                                    <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                    <li>Vivamus finibus vel mauris ut vehicula.</li>
                                    <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                    volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non,
                                    semper suscipit, posuere a, pede. Donec nec justo eget felis
                                    facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim
                                    pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                                    consectetuer ligula vulputate sem tristique cursus.
                                </p>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                            aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                    volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non,
                                    semper suscipit, posuere a, pede. Donec nec justo eget felis
                                    facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                <h3>Fabric & care</h3>
                                <ul>
                                    <li>Faux suede fabric</li>
                                    <li>Gold tone metal hoop handles.</li>
                                    <li>RI branding</li>
                                    <li>Snake print trim interior </li>
                                    <li>Adjustable cross body strap</li>
                                    <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                </ul>

                                <h3>Size</h3>
                                <p>one size</p>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                            aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>Delivery & returns</h3>
                                <p>We deliver to over 100 countries around the world. For full details of the delivery
                                    options we offer, please view our <a href="#">Delivery information</a><br> We hope
                                    you’ll love every purchase, but if you ever need to
                                    return an item you can do so within a month of receipt. For full details of how to
                                    make a return, please view our <a href="#">Returns information</a></p>
                            </div>
                            <!-- End .product-desc-content -->
                        </div>
                        <!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                            aria-labelledby="product-review-link">
                            {% if user.is_authenticated %}
                            {% if ordered %}
                            <div class="container">
                                <form action="{% url 'submit_review' single_varient.id %}" method="post">
                                    {% csrf_token %}
                                    <h5>Enter your review</h5>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="subject">Subject</label>
                                            <input class="form-control" type="text" name="subject" id="subject">
                                            <label for="review">Review</label>
                                            <textarea class="form-control" name="review" id="review" cols="30"
                                                rows="5"></textarea>

                                            <div class="rate">
                                                <p><label for="rating">Please rate this product </label></p>
                                                <input type="radio" name="rating" required value="5"
                                                    id="rating5" /><label for="rating5" title="5"></label>
                                                <input type="radio" name="rating" required value="4"
                                                    id="rating4" /><label for="rating4" title="4"></label>
                                                <input type="radio" name="rating" required value="3"
                                                    id="rating3" /><label for="rating3" title="3"></label>
                                                <input type="radio" name="rating" required value="2"
                                                    id="rating2" /><label for="rating2" title="2"></label>
                                                <input type="radio" name="rating" required value="1"
                                                    id="rating1" /><label for="rating1" title="1"></label>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <input class="btn btn-primary" type="submit" value="Submit Review">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                            {% endif %}

                            <div class="reviews">
                                <h3>Reviews ({{review_count}})</h3>
                                {% for x in reviews %}
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-md-3">

                                            <h4><b>{{x.subject}}</b></h4>
                                            <span>{{x.user.full_name}}</span>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: {{x.rating_percentage}}%;">
                                                    </div>
                                                    <!-- End .ratings-val -->
                                                </div>
                                                <!-- End .ratings -->
                                            </div>
                                            <!-- End .rating-container -->
                                            <span class="review-date">6 days ago</span>
                                        </div>
                                        <!-- End .col -->
                                        <div class="col-md-9">

                                            <div class="review-content">
                                                <p>{{x.review}}</p>
                                            </div>
                                            <!-- End .review-content -->
                                            <!-- End .review-action -->
                                        </div>
                                        <!-- End .col-auto -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                {% endfor %}
                                <!-- End .review -->


                            </div>
                            <!-- End .reviews -->
                        </div>
                        <!-- .End .tab-pane -->
                    </div>
                    <!-- End .tab-content -->
                </div>
                <!-- End .product-details-tab -->

                <h2 class="title text-center mb-4">You May Also Like</h2>
                <!-- End .title text-center -->

                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-new">New</span>
                            <a href="product.html">
                                <img src="assets/images/products/product-4.jpg" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">Women</a>
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">Brown paperbag waist <br>pencil skirt</a>
                            </h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                ₹60.00
                            </div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 20%;"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 2 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->

                            <div class="product-nav product-nav-thumbs">
                                <a href="#" class="active">
                                    <img src="assets/images/products/product-4-thumb.jpg" alt="product desc">
                                </a>
                                <a href="#">
                                    <img src="assets/images/products/product-4-2-thumb.jpg" alt="product desc">
                                </a>

                                <a href="#">
                                    <img src="assets/images/products/product-4-3-thumb.jpg" alt="product desc">
                                </a>
                            </div>
                            <!-- End .product-nav -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-out">Out of Stock</span>
                            <a href="product.html">
                                <img src="assets/images/products/product-6.jpg" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">Jackets</a>
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">Khaki utility boiler jumpsuit</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                <span class="out-price">₹120.00</span>
                            </div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 6 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-top">Top</span>
                            <a href="product.html">
                                <img src="assets/images/products/product-11.jpg" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">Shoes</a>
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">Light brown studded Wide fit wedges</a>
                            </h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                ₹110.00
                            </div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 1 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->

                            <div class="product-nav product-nav-thumbs">
                                <a href="#" class="active">
                                    <img src="assets/images/products/product-11-thumb.jpg" alt="product desc">
                                </a>
                                <a href="#">
                                    <img src="assets/images/products/product-11-2-thumb.jpg" alt="product desc">
                                </a>

                                <a href="#">
                                    <img src="assets/images/products/product-11-3-thumb.jpg" alt="product desc">
                                </a>
                            </div>
                            <!-- End .product-nav -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="assets/images/products/product-10.jpg" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">Jumpers</a>
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">Yellow button front tea top</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                ₹56.00
                            </div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 0%;"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 0 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->

                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="assets/images/products/product-7.jpg" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                    title="Quick view"><span>Quick view</span></a>
                                <a href="#" class="btn-product-icon btn-compare"
                                    title="Compare"><span>Compare</span></a>
                            </div>
                            <!-- End .product-action-vertical -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div>
                            <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">Jeans</a>
                            </div>
                            <!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                ₹76.00
                            </div>
                            <!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 20%;"></div>
                                    <!-- End .ratings-val -->
                                </div>
                                <!-- End .ratings -->
                                <span class="ratings-text">( 2 Reviews )</span>
                            </div>
                            <!-- End .rating-container -->
                        </div>
                        <!-- End .product-body -->
                    </div>
                    <!-- End .product -->
                </div>
                <!-- End .owl-carousel -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .page-content -->
    </main>
    <!-- End .main -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Sticky Bar -->
<div class="sticky-bar">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <figure class="product-media">
                    <a href="product.html">
                        <img src="assets/images/products/sticky/product-1.jpg" alt="Product image">
                    </a>
                </figure>
                <!-- End .product-media -->
                <h4 class="product-title"><a href="product.html">Dark yellow lace cut out swing dress</a></h4>
                <!-- End .product-title -->
            </div>
            <!-- End .col-6 -->

            <div class="col-6 justify-content-end">
                <div class="product-price">
                    ₹84.00
                </div>
                <!-- End .product-price -->
                <div class="product-details-quantity">
                    <input type="number" id="sticky-cart-qty" class="form-control" value="1" min="1" max="10" step="1"
                        data-decimals="0" required>
                </div>
                <!-- End .product-details-quantity -->

                <div class="product-details-action">
                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                </div>
                <!-- End .product-details-action -->
            </div>
            <!-- End .col-6 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container -->
</div>
<!-- End .sticky-bar -->
<script>
    function changeIt(img) {
        var source = img.src;
        document.getElementById("myimage").src = 'source';
        document.getElementById('myimage').srcset= source;
        
    }
    imageZoom("myimage", "myresult");
    function imageZoom(imgID, resultID) {
        var img, lens, result, cx, cy;
        img = document.getElementById(imgID);
        result = document.getElementById(resultID);
        /*create lens:*/
        lens = document.createElement("DIV");
        lens.setAttribute("class", "img-zoom-lens");
        /*insert lens:*/
        img.parentElement.insertBefore(lens, img);
        /*calculate the ratio between result DIV and lens:*/
        console.log("result.offsetWidth  >>>>>", result.offsetWidth, "lens.offsetWidth>>>>>>>>>>>", lens.offsetWidth);
        cx = 300 / lens.offsetWidth;
        console.log("result.offsetHeight>>>>>", result.offsetHeight, "llens.offsetHeighth>>>>>>>>>>>", lens.offsetHeight);
        cy = 300 / lens.offsetHeight;
        /*set background properties for the result DIV:*/
        result.style.backgroundImage = "url('" + img.srcset + "')";
        result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
        /*execute a function when someone moves the cursor over the image, or the lens:*/
        lens.addEventListener("mousemove", moveLens);
        img.addEventListener("mousemove", moveLens);
        /*and also for touch screens:*/
        lens.addEventListener("touchmove", moveLens);
        img.addEventListener("touchmove", moveLens);
        // img.addEventListener("mouseenter", bigImg);  



        function bigImg(x) {
            console.log("onmouseenter >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
        }

        function normalImg(x) {
            //result.style.display ="none";
            console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>onmousLEAVE");
        }



        function moveLens(e) {
            var pos, x, y;
            /*prevent any other actions that may occur when moving over the image:*/
            e.preventDefault();
            /*get the cursor's x and y positions:*/
            pos = getCursorPos(e);
            /*calculate the position of the lens:*/
            x = pos.x - (lens.offsetWidth / 2);
            y = pos.y - (lens.offsetHeight / 2);
            // console.log("x" , x , "and Y " , y); 
            /*prevent the lens from being positioned outside the image:*/
            if (x > img.width - lens.offsetWidth) { x = img.width - lens.offsetWidth; } //else{img.addEventListener("mouseenter", bigImg);  }
            if (x < 0) { x = 0; }
            if (y > img.height - lens.offsetHeight) { y = img.height - lens.offsetHeight; img.addEventListener("mouseleave", normalImg); }//else{img.addEventListener("mouseenter", bigImg);  }
            if (y < 0) { y = 0; }
            /*set the position of the lens:*/
            lens.style.left = x + "px";
            lens.style.top = y + "px";
            /*display what the lens "sees":*/
            result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
        }
        function getCursorPos(e) {
            var a, x = 0, y = 0;
            e = e || window.event;
            /*get the x and y positions of the image:*/
            a = img.getBoundingClientRect();
            //console.log("------------------A  left" ,  a ); 
            /*calculate the cursor's x and y coordinates, relative to the image:*/
            x = e.pageX - a.left;
            y = e.pageY - a.top;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            y = y - window.pageYOffset;
            return { x: x, y: y };
        }

    }

    function hideme(x) {
        //x.style.display = "none";

    }
    function showme(x) {
        //x.style.display = "block";

    }
</script>

{% endblock %}