{% extends 'base.html'%} {% load static %} {% block content %}
<style>
    .error {
        color: red;
    }
</style>
<main class="main">
    {% comment %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->{% endcomment %}

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                                role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="register-2" aria-labelledby="register-tab-2">
                            <form action="{% url 'register' %}" method="POST" id="register-form" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group text-center text-danger">
                                    {{ form.email.errors }} {{ form.non_field_errors }}
                                </div>
                                <div class="form-group">
                                    <label for="register-nname-2">First Name *</label> {{form.first_name}}
                                </div>
                                <!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-nname-2">Last Name *</label> {{form.last_name}}
                                </div>
                                <!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-email-2">Your email address *</label> {{form.email}}
                                </div>
                                <!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-gender-2">Gender *</label><br> {{form.gender}}

                                </div>
                                <!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-phone-2">Your Phone number *</label> {{form.mobile}}
                                </div>
                                <!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password-2">Password *</label> {{form.password}}
                                </div>
                                <!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password-2">Confirm Password *</label>
                                    {{form.confirm_password}}
                                </div>
                                <!-- End .form-group -->

                                <div class="form-footer">
                                    <input type="submit" class="btn btn-outline-primary-2" value="SIGN UP">
                                        
                                    <!-- End .custom-checkbox -->
                                </div>
                                <!-- End .form-footer -->

                                
                            </form>

                        </div>
                        <!-- .End .tab-pane -->
                    </div>

                    <!-- End .tab-content -->
                </div>
                <!-- End .form-tab -->
            </div>
            <!-- End .form-box -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .login-page section-bg -->
</main>
<!-- End .main -->



<!-- Plugins JS File -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function ($) {
        $("#register-form").validate({
            rules: {
                first_name:{
                    required: true
                },
                last_name:{
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
            },
            messages: {
                email: "Please enter your email",
                password: {
                    required: "Please provide a password",
                },
            },
            submitHandler: function (form) {
                form.submit();
            }

        });
    });
</script>
{% endblock %}